body {
    background: #d2d2c1 url('img/fundo.png');
    font: 16px Arial, Helvetica, sans-serif;
}

#principal {
    width: 900px;
}

#menu {
    background: #c5c5b2;
    padding: 18px;
}
#conteudo {
    padding: 10px;
    background-color: white;
 }

a {
    text-decoration: none;
    color: #4b566a;
    font-weight: bold;
    padding: 5px;
}

a:hover {
    color:black;
    text-shadow: grey;
    background-color: white;
    transition: 1.25s;
    scale: 1.5;

}

.centralizar {
    text-align: center;
}

h1 {
    color: #828271;
    font-size: 1.2em;
}

.img-campanha {
    border: 10px solid #c3c3ae;
    border-radius: 10px;
}

.info {
    color: gray;
    font-weight: bold;
}